  
a, a:visited {
  text-decoration: none;
  color: inherit;
}

.logo {
	max-width: 175px;
}

.hamburger {
	@apply z-50;
}

.main-navigation {
	width: 100%;
	position: fixed;
	background: white;
	height: 100%;
	top: 0;
	opacity: 0;
	left: 0;
	transition: all ease-in-out .3s;
	@apply pt-12 text-base z-30 font-semibold transition-opacity duration-500;

	&.toggled {
		opacity: 1;
	}

	a {
		display: block;
		@apply pl-8 pr-20 py-2 my-1;
	}
	
	ul {
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	li {
		position: relative;

	}
}

.site-footer {
	@apply mb-16;
}

@screen md { 
	.site-footer {
		@apply mb-0;
	}

	.logo {
		max-width: 250px;
	}

	.hamburger {
		display: none !important;
	}

	#primary-menu {
		display: flex;
		justify-content: flex-end;

		li:not(:last-of-type) {
			margin-right: 2rem;
		}
	}

	.menu-toggle {
		display: none;
	}

	.main-navigation {
		display: block;
		position: static;
		background: transparent;
		height: unset;
		z-index: unset;
		width: unset;
		opacity: 1;
		@apply shadow-none pt-0 text-sm;

		a {
			@apply p-0 m-0;
		}
	}
}